<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <MaxCpuCount>1</MaxCpuCount>
    <TargetPlatform>x64</TargetPlatform>
    <ResultsDirectory>.\TestResults</ResultsDirectory>
    <TargetFrameworkVersion>net8.0</TargetFrameworkVersion>
  </RunConfiguration>

  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="Code Coverage" uri="datacollector://Microsoft/CodeCoverage/2.0" assemblyQualifiedName="Microsoft.VisualStudio.Coverage.DynamicCoverageDataCollector, Microsoft.VisualStudio.TraceCollector, Version=11.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a">
        <Configuration>
          <CodeCoverage>
            <Attributes>
              <Exclude>
                <Attribute>System.Diagnostics.CodeAnalysis.ExcludeFromCodeCoverageAttribute$</Attribute>
                <Attribute>IronyModManager.Shared.ExcludeFromCoverageAttribute$</Attribute>
              </Exclude>
            </Attributes>
            <Sources>
              <Exclude>
                <Source>.*\.xaml$</Source>
              </Exclude>
            </Sources>
            <ModulePaths>
              <Exclude>
                <!-- DI Module is excluded due to the static nature of the project. Unit tests won't help much here even if architecture was different -->
                <ModulePath>.*di.*</ModulePath>
                <ModulePath>.*platform.*</ModulePath>
                <!-- Barely managed to get it working -->
                <ModulePath>.*xunit.*</ModulePath>
                <ModulePath>.*dynamicdata.*</ModulePath>
                <ModulePath>.*splat.*</ModulePath>
                <ModulePath>.*reactiveui.*</ModulePath>
                <ModulePath>.*system.*</ModulePath>
                <ModulePath>.*\.tests\..*</ModulePath>
              </Exclude>
            </ModulePaths>
          </CodeCoverage>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>