<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="storageRoot" value="${basedir}" />
    <targets>
        <target name="logger" xsi:type="IronyFile" fileName="${var:storageRoot}/IronyModManager-Logs/${date:format=yyyy-MM-dd}_${level}.log" layout="${longdate} ${message} ${exception:format=tostring}" />
        <target name="logconsole" xsi:type="Console" />
        <target name="trace" xsi:type="trace" layout="Layout" />
    </targets>

    <rules>
        <logger name="*" minLevel="Info" writeTo="logger" />
        <logger name="*" minlevel="Info" writeTo="logconsole" />
        <logger name="*" minLevel="Info" writeTo="trace" />
    </rules>
</nlog>