<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <variable xdt:Transform="Replace" name="storageRoot" value="${specialfolder:folder=ApplicationData}/Mario}" />
    <targets xdt:Transform="Replace">
        <target name="logger" xsi:type="IronyFile" fileName="${var:storageRoot}/IronyModManager-Logs/${date:format=yyyy-MM-dd}_${level}.log" layout="${longdate} ${message} ${exception:format=tostring}" maxArchiveDays="10" />
        <target name="logger" xsi:type="IronyFile" fileName="${specialfolder:folder=ApplicationData}/Mario/IronyModManager-Logs/${date:format=yyyy-MM-dd}_${level}.log" layout="${longdate} ${message} ${exception:format=tostring}" maxArchiveDays="10" />
        <target name="logconsole" xsi:type="Console" />
        <target name="trace" xsi:type="trace" layout="Layout" />
    </targets>
    <rules xdt:Transform="Replace">
        <logger name="*" minLevel="Error" writeTo="logger" />
        <logger name="*" minlevel="Error" writeTo="logconsole" />
        <logger name="*" minLevel="Error" writeTo="trace" />
    </rules>
</nlog>